/*основные цвета
 #333333-цвет картинок соцсетей, емблем клиентов
/* #FFFFFF-основной цвет фона, акцентный цвет шрифта
/* #2196F3- голубой акцент
/* #212121 - основной цвет шрифта
/* #757575 - серый цвет шрифта
/* #EEEEEE цвет тени
/* #000000 -половина логотипа студио
/* #F5F4FA-цвет фона секции наша команда, фон картинок преимущества
/* #2F303A-цвет фона футера*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #212121;
  font-family: Roboto;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.logo-web > span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #000000;
}
.site-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.site-nav :hover,
:focus {
  color: #2196f3;
}
.adress-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.container {
  width: 1230px;
  outline: 2px solid red;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 25px;
}

.hero-haeding {
  color: #ffffff;
  background-color: tomato;
  margin-top: 0px;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 6px;

  font-size: 16px;
  line-height: 30px;
}
.advantages-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: transparent;
}

.advantages img {
  background-color: #f5f4fa;
  width: 278px;
  height: 120px;
  color: #212121;
}
.advantages a :hover,
.advantages a :focus {
  color: #ffffff;
  background-color: #2196f3;
}
.advantages h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.examples-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 380px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.team-section {
  background-color: #f5f4fa;
}
.team-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;
}
.sociallink-list a {
  color: #333333;
}
.sociallink-list a:hover,
.sociallink-list a:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.klient a {
  color: #333333;
}
.klient a:hover,
.klient a:focus {
  color: #2196f3;
  background-color: #ffffff;
}
.footer {
  background: #2f303a;
  color: #ffffff;
}
.footer .logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer .logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.footer .email br {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sociallink-end {
  color: rgba(255, 255, 255, 0.1);
}

.sociallink-end :hover {
  color: #2196f3;
}
.end {
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}
/* портфолио */
.button-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}
.button-list :hover,
.button-list :focus {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: #2196f3;
}
.tehnokrak h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.tehnokrak-produkt {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}
.tehnokrak-text p:hover {
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background: url(portfolio1.jpg);
  border-radius: 5px 5px 0px 0px;
  width: 380px;
  height: 294px;
}
.link-sub {
  color: #ffffff;
}
